{% extends "blog/base.html" %}
{% block content %}	
	<fieldset class = "profile">
		<legend class = "legend">Profile</legend>
		<div>
			<img src="{{ user.profile.image.url }}" width="42" height="42">
		</div>
		<div>
			<h2>{{ user.username }}</h2>
	        <p>{{ user.email }}</p>
		</div>
		<form method = "POST" enctype = "multipart/form-data">
			{% csrf_token %}
			<fieldset>
				<legend>Profile Info</legend>
				{{ u_form.as_p }}
				{{ p_form.as_p }}
			</fieldset>
			<div>
				<button type = "submit">Update</button>
			</div>
		</form>
	</fieldset>
	
{% endblock content %}



      
    